	<table class="bingoCard">
		<thead>
			<tr >
				<th class="bingoCardHeader" ng-repeat="column in columns">{{column}}</th>
				<!--<th class="bingoCardHeader">S</th>
				<th class="bingoCardHeader">a</th>
				<th class="bingoCardHeader">n</th>
				<th class="bingoCardHeader">t</th>
				<th class="bingoCardHeader">A</th>-->
			</tr>
		</thead>
		<tbody>	
			<tr class="bingoCardRow" ng-repeat="row in rows">
				<td class="bingoCell" ng-class="{'called':(game.calledNumbers.indexOf(activeCard.card[column][row]) > -1), 'marked':(marks.indexOf(activeCard.card[column][row]) > -1)}" ng-repeat="column in columns" ng-click="mark(activeCard.card[column][row])">
					<img ng-src="./SVG/{{activeCard.card[column][row]}}.svg">
				</td>
			</tr>
			<!--<tr class="bingoCardRow">
				<td class="bingoCell called"><img ng-src="./SVG/{{activeCard.card['S'][0]}}.svg"></td>
				<td class="bingoCell"><img ng-src="./SVG/{{activeCard.card['a'][0]}}.svg"></td>
				<td class="bingoCell"><img ng-src="./SVG/{{activeCard.card['n'][0]}}.svg"></td>
				<td class="bingoCell"><img ng-src="./SVG/{{activeCard.card['t'][0]}}.svg"></td>
				<td class="bingoCell"><img ng-src="./SVG/{{activeCard.card['A'][0]}}.svg"></td>
			</tr>
			
			<tr class="bingoCardRow">
				<td class="bingoCell"><img ng-src="./SVG/{{activeCard.card['S'][1]}}.svg"></td>
				<td class="bingoCell"><img ng-src="./SVG/{{activeCard.card['a'][1]}}.svg"></td>
				<td class="bingoCell"><img ng-src="./SVG/{{activeCard.card['n'][1]}}.svg"></td>
				<td class="bingoCell"><img ng-src="./SVG/{{activeCard.card['t'][1]}}.svg"></td>
				<td class="bingoCell"><img ng-src="./SVG/{{activeCard.card['A'][1]}}.svg"></td>
			</tr>
			
			<tr class="bingoCardRow">
				<td class="bingoCell"><img ng-src="./SVG/{{activeCard.card['S'][2]}}.svg"></td>
				<td class="bingoCell"><img ng-src="./SVG/{{activeCard.card['a'][2]}}.svg"></td>
				<td class="bingoCell"><img ng-src="./SVG/{{activeCard.card['n'][2]}}.svg"></td>
				<td class="bingoCell"><img ng-src="./SVG/{{activeCard.card['t'][2]}}.svg"></td>
				<td class="bingoCell"><img ng-src="./SVG/{{activeCard.card['A'][2]}}.svg"></td>
			</tr>
			
			<tr class="bingoCardRow">
				<td class="bingoCell"><img ng-src="./SVG/{{activeCard.card['S'][3]}}.svg"></td>
				<td class="bingoCell"><img ng-src="./SVG/{{activeCard.card['a'][3]}}.svg"></td>
				<td class="bingoCell"><img ng-src="./SVG/{{activeCard.card['n'][3]}}.svg"></td>
				<td class="bingoCell"><img ng-src="./SVG/{{activeCard.card['t'][3]}}.svg"></td>
				<td class="bingoCell"><img ng-src="./SVG/{{activeCard.card['A'][3]}}.svg"></td>
			</tr>
			
			<tr class="bingoCardRow">
				<td class="bingoCell"><img ng-src="./SVG/{{activeCard.card['S'][4]}}.svg"></td>
				<td class="bingoCell"><img ng-src="./SVG/{{activeCard.card['a'][4]}}.svg"></td>
				<td class="bingoCell"><img ng-src="./SVG/{{activeCard.card['n'][4]}}.svg"></td>
				<td class="bingoCell"><img ng-src="./SVG/{{activeCard.card['t'][4]}}.svg"></td>
				<td class="bingoCell"><img ng-src="./SVG/{{activeCard.card['A'][4]}}.svg"></td>
			</tr>-->
		</tbody>
	</table>