	<table class="bingoCard">
		<thead>
			<tr >
				<th class="bingoCardHeader" ng-repeat="column in columns">{{column}}</th>
			</tr>
		</thead>
		<tbody>	
			<tr class="bingoCardRow" ng-repeat="row in rows">
				<td class="bingoCell" ng-class="{'called':(game.calledNumbers.indexOf(activeCard.card[column][row]) > -1), 'marked':(marks.indexOf(activeCard.card[column][row]) > -1)}" ng-repeat="column in columns" ng-click="mark(activeCard.card[column][row])">
					<img ng-src="./SVG/{{activeCard.card[column][row]}}.svg">
				</td>
			</tr>
		</tbody>
	</table>