$enable-responsive-font-sizes: true;

// Font
//@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:ital,wght@0,100;0,200;0,400;0,500;0,700;0,900;1,200;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap');

$font-family-base: 'Lato', sans-serif;

$body-bg: #000000;
$body-color: #FFFFFF;

$card-bg: #333333;
$card-color: #000;
$card-border: #222;

// Bootstrap and its default variables
@import "../CSS/bootstrap-4.5.3/scss/bootstrap";

body, {
	background-color: #000000; 
	font-family: "Lato", sans-serif;
	height: 100%;
	width: 100%;
    margin: 0;
}

h1, h2, h3, h4, h5, h5, .display {
	font-family: 'Lato', sans-serif;
	font-weight: bolder;
}

p {
	font-weight: lighter;
}

.bg-grad-black {
	background-image: linear-gradient(
		rgba(20,24,26,1) 80%, 
		rgba(10,10,10,1) 100%);
	background: -webkit-gradient(linear, left top, left bottom, 
		color-stop(0%,#000000), 
		color-stop(80%,#121418), 
		color-stop(100%,#000000)); 
	background: -webkit-linear-gradient(top,  
		rgba(12,13,14,1) 0%, 
		rgba(20,24,26,1) 80%, 
		rgba(10,10,10,1) 100%);
	background-repeat: no-repeat;
    background-attachment: fixed;
}

.bg-grad-red {
	background-image: linear-gradient(
		rgba(10,0,0,1) 0%,
		rgba(15,2,0,1) 80%, 
		rgba(35,3,1,1) 100%);
	background: -webkit-gradient(linear, left top, left bottom, 
		color-stop(0%,#230000), 
		color-stop(80%,#320800), 
		color-stop(100%,#5E0805)); 
	background: -webkit-linear-gradient(top,  
		rgba(10,0,0,1) 0%,
		rgba(15,2,0,1) 80%, 
		rgba(35,3,1,1) 100%);
	background-repeat: no-repeat;
    background-attachment: fixed;
}

.bg-grad-green {
	background-image: linear-gradient(
		rgba(0,5,4,1) 0%,
		rgba(0,10,5,1) 60%, 
		rgba(0,20,3,1) 100%);
	background: -webkit-gradient(linear, left top, left bottom, 
		color-stop(0%,#230000), 
		color-stop(80%,#320800), 
		color-stop(100%,#5E0805)); 
	background: -webkit-linear-gradient(top,  
		rgba(0,5,4,1) 0%,
		rgba(0,10,5,1) 60%, 
		rgba(0,20,3,1) 100%);
	background-repeat: no-repeat;
    background-attachment: fixed;
}

.bg-grad-yellow {
	background-image: linear-gradient(
		rgba(42,34,0,1) 0%,
		rgba(85,61,0,1) 60%, 
		rgba(148,120,1,1) 100%);
	background: -webkit-gradient(linear, left top, left bottom, 
		color-stop(0%,#2A2200), 
		color-stop(80%,#553D00), 
		color-stop(100%,#947800)); 
	background: -webkit-linear-gradient(top,  
		rgba(42,34,0,1) 0%,
		rgba(85,61,0,1) 60%, 
		rgba(148,120,1,1) 100%);
	background-repeat: no-repeat;
    background-attachment: fixed;
}

.portfolio-item {
	background-image: linear-gradient(30deg, rgba(20,24,26,1) 80%, rgba(10,10,10,1) 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#000000), color-stop(80%,#121418), color-stop(100%,#000000));
	cursor: pointer;
	transition: transform 0.1s;
	transition-timing-function: ease-in-out;
	z-index: 0;
	border-color: #444A; 
	border-width: 1px; 
	border-top-color: #777A; 
	border-left-color: #777A;
}

.btn-custom {
	color: $secondary;
	border-radius: 15px;
	border-width: 0px;
	z-index: 2;
}


.form-signin {
  width: 100%;
  max-width: 330px;
  padding: 15px;
  margin: auto;
}
.form-signin .checkbox {
  font-weight: 400;
}
.form-signin .form-control {
  position: relative;
  box-sizing: border-box;
  height: auto;
  padding: 10px;
  font-size: 16px;
}
.form-signin .form-control:focus {
  z-index: 2;
}
.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;

}

.form-signin input[type="text"] {
  margin-bottom: -1px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

#newPassword {
  margin-bottom: -1px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

#inputPasswordVerification {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}


/*.modal-content {
  background-color: #000;
	background-image: linear-gradient(rgba(20,24,26,1) 80%, rgba(10,10,10,1) 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#000000), color-stop(80%,#121418), color-stop(100%,#000000)); 
	background: -webkit-linear-gradient(top,  rgba(12,13,14,1) 0%, rgba(20,24,26,1) 80%, rgba(10,10,10,1) 100%);  

	border-color: $dark;
}

.modal-header {
	border-bottom-color: $dark;
}*/

.snowflake {
  color: #FFFFFF99;
  font-size: 1em;
  font-family: Arial, sans-serif;
  text-shadow: 0 0 5px #000;
}

table.bingoCard{
	width: 100%;
	height: 100%;
	text-align: center;
}

th.bingoCardHeader{
	font-weight: bolder;
	font-size: 32px; 

}
tr.bingoCardRow{
	text-align: center;
	/*border-top: solid;
	border-top-width: 1px;
	border-color: #DDD;*/
}
td.bingoCell{
	width: 50px;
	height: 50px;
	border-style: solid;
	border-width: 0.5px;
	border-color: #DDD;
}

td.bingoCell.called{
	background-color: #EFFAEE;
}

td.bingoCell.called.marked{
	background-color: #ADD9AA;
}


td.bingoCell:hover{
	background-color: #EEE;
}
td.bingoCell.called:hover{
	background-color: #ADD9AA;
}

td.bingoCell img {
	/*padding: 10px;*/
	width: 50px;
	height: 50px;
}

@-webkit-keyframes snowflakes-fall{0%{top:-10%}100%{top:100%}}@-webkit-keyframes snowflakes-shake{0%,100%{-webkit-transform:translateX(0);transform:translateX(0)}50%{-webkit-transform:translateX(80px);transform:translateX(80px)}}@keyframes snowflakes-fall{0%{top:-10%}100%{top:100%}}@keyframes snowflakes-shake{0%,100%{transform:translateX(0)}50%{transform:translateX(80px)}}.snowflake{position:fixed;top:-10%;z-index:9999;-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none;cursor:default;-webkit-animation-name:snowflakes-fall,snowflakes-shake;-webkit-animation-duration:10s,3s;-webkit-animation-timing-function:linear,ease-in-out;-webkit-animation-iteration-count:infinite,infinite;-webkit-animation-play-state:running,running;animation-name:snowflakes-fall,snowflakes-shake;animation-duration:10s,3s;animation-timing-function:linear,ease-in-out;animation-iteration-count:infinite,infinite;animation-play-state:running,running}.snowflake:nth-of-type(0){left:1%;-webkit-animation-delay:0s,0s;animation-delay:0s,0s}.snowflake:nth-of-type(1){left:10%;-webkit-animation-delay:1s,1s;animation-delay:1s,1s}.snowflake:nth-of-type(2){left:20%;-webkit-animation-delay:6s,.5s;animation-delay:6s,.5s}.snowflake:nth-of-type(3){left:30%;-webkit-animation-delay:4s,2s;animation-delay:4s,2s}.snowflake:nth-of-type(4){left:40%;-webkit-animation-delay:2s,2s;animation-delay:2s,2s}.snowflake:nth-of-type(5){left:50%;-webkit-animation-delay:8s,3s;animation-delay:8s,3s}.snowflake:nth-of-type(6){left:60%;-webkit-animation-delay:6s,2s;animation-delay:6s,2s}.snowflake:nth-of-type(7){left:70%;-webkit-animation-delay:2.5s,1s;animation-delay:2.5s,1s}.snowflake:nth-of-type(8){left:80%;-webkit-animation-delay:1s,0s;animation-delay:1s,0s}.snowflake:nth-of-type(9){left:90%;-webkit-animation-delay:3s,1.5s;animation-delay:3s,1.5s}.snowflake:nth-of-type(10){left:25%;-webkit-animation-delay:2s,0s;animation-delay:2s,0s}.snowflake:nth-of-type(11){left:65%;-webkit-animation-delay:4s,2.5s;animation-delay:4s,2.5s}